@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
.meg{
    margin-left: 140px;
    margin-right: 140px;
    
}
/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.navlink{
   list-style: none;
   display: flex;
 gap: 32px;
 margin-top: 36px;
font-size: 20px;
font-weight: 700;
}
.headnav{
    display: flex;
}
.logo{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.logoh{
    color: rgb(17, 17, 17);
font-size: 32px;
font-weight: 700;
}
.ho{
color: rgb(254, 163, 1);
}
.ab{
color: rgb(1, 172, 253);
}
.fc{
color: rgb(5, 212, 223);
}
.ad{
  color: rgb(93, 88, 239);  
}
.btnnav{
width: 197px;
height: 50px;
background-color: rgb(254, 163, 1);
border-radius: 12px;
border: none;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
margin-top: 26px;
}
/*banner*/
.bandiv{
    display: flex;
    gap: 150px;
}
.banh{
font-size: 56px;
font-weight: 700;

}
.banp{
    color: rgb(17, 17, 17);
font-size: 20px;
font-weight: 400;

}
.banen{
    width: 197px;
    height: 50px;
    border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
}
.bancon{
    margin-top: 100px;
    margin-bottom: 122px;
}
.banpex{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
}
.blh{
    color: rgb(254, 163, 1);
}
.orh{
    color: rgb(1, 172, 253);
}
/*standard curriculam*/
.bg{
    background-image: url("../assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.cdiv{
    display: flex;
    justify-content: space-between;
}
.card1, .card2, .card3{
    width: 550px;
    height: 476px;
    justify-items: center;
   
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
}
.card1{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-right: 28px;
}
.card2{
    border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-right: 28px;
}
.card3{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin-right: 28px;
}
.c1h{
    color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;

}
.c1p{
    color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 33px;
line-height: 28px;
}
.c1i{
    margin-top: 52px;
}
.ch{
    color: rgb(0, 0, 0);
font-size: 46px;
font-weight: 700;
text-align: center;
margin-top: 60px;
margin-bottom: 80px;
}
.c1p1{
color: rgb(100, 200, 255);
font-size: 15.09px;
font-weight: 700;
}
.c2p2{
color: rgb(240, 170, 0);
font-size: 15.09px;
font-weight: 700;
}
.c3p3{
color: rgb(135, 0, 255);
font-size: 15.09px;
font-weight: 700;
}
.tukibtn1{
justify-content: center;
width: 60px;
height: 60px;
border-radius: 30px;
background: rgb(254, 163, 1);
border: none;
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 900;
margin-right: 10px;
}
.tukibtn2{
    justify-content: center;
width: 60px;
height: 60px;
border-radius: 30px;
background: rgb(254, 163, 1);
border: none;
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 900;
}
.tukibtn1:hover{
    color: orange;
    background-color: skyblue;
}
.tukibtn2:hover{
    color: orange;
    background-color: skyblue;
    
}
.tukibtn{
    width: 130px;
    height: 60px;
    margin-top: 80px;
    margin-left: 46%;
    margin-bottom: 79px;
    display: flex;

}

