@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
.meg{
    margin-left: 140px;
    margin-right: 140px;
}
@media screen and (max-width: 576px) {
    .meg{
        margin: 0px;
    }
}
/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.navlink{
   list-style: none;
   display: flex;
 gap: 32px;
 margin-top: 36px;
font-size: 1.25rem;
font-weight: 700;
}
.headnav{
    display: flex;
}
.logo{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.logoh{
    color: rgb(17, 17, 17);
font-size: 2rem;
font-weight: 700;
}
.ho{
color: rgb(254, 163, 1);
}
.ab{
color: rgb(1, 172, 253);
}
.fc{
color: rgb(5, 212, 223);
}
.ad{
  color: rgb(93, 88, 239);  
}
.btnnav{
width: 197px;
height: 50px;
background-color: rgb(254, 163, 1);
border-radius: 12px;
border: none;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 600;
margin-top: 26px;
}
.fa-solid{
    position: absolute;
    visibility: hidden;
    
}
@media screen and (max-width: 576px) {
    .navlink, .btnnav, .logoh{
        display: none;
        
    }
    .logo{
        padding-bottom: 20px;
        max-width: 39px;
        max-height: 46px;
        margin-left: 10px;
    }

    nav{
        border-bottom: 1px solid orange;
       max-width: 100%;
       
    }
    .fa-solid{
        visibility: visible;
        margin-right: 20px;
        margin-top: 30px;
        width: 30px;
        height: 30px;
        margin-left: 500px;
    }
}
/*banner*/
.bandiv{
    display: flex;
    gap: 150px;
}
.banh{
font-size: 3.5rem;
font-weight: 700;

}
.banp{
    color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;

}
.banen{
    width: 197px;
    height: 50px;
    border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 700;
}
.bancon{
    margin-top: 100px;
    margin-bottom: 122px;
}
.banpex{
    color: rgb(17, 17, 17);

font-size: 1.25rem;
font-weight: 400;
}
.blh{
    color: rgb(254, 163, 1);
}
.orh{
    color: rgb(1, 172, 253);
}
@media screen and (max-width: 576px){
    .bandiv{
        flex-direction: column-reverse;
        
    }
    .banim{
        max-width: 336px;
        max-height: 413px;
        margin-right: 5px;
        margin-left: 120px;
       
    }
    .bancon{
        margin-top: -180px;
       text-align: center;
    }
    .banp{
        margin-right: 20px;
        font-size: 0.8rem;
        margin-top: -20px;
        margin-left: 20px;
    }
    .banen{
        width: 131px;
        height: 42px;
        font-size: 1rem;
    }
    .banpex{
        display: none;
    }
    .banh{
        font-size: 2rem;
    }
}
    
/*standard curriculam*/
.bg{
    background-image: url("../assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.cdiv{
    display: flex;
    justify-content: space-between;
}
.card1, .card2, .card3{
    width: 550px;
    height: 476px;
    justify-items: center;
   
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
}
.card1{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-right: 28px;
}
.card2{
    border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-right: 28px;
}
.card3{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin-right: 28px;
}
.c1h{
    color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;

}
.c1p{
    color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 33px;
line-height: 28px;
}
.c1i{
    margin-top: 52px;
}
.ch{
    color: rgb(0, 0, 0);
font-size: 46px;
font-weight: 700;
text-align: center;
margin-top: 60px;
margin-bottom: 80px;
}
.c1p1{
color: rgb(100, 200, 255);
font-size: 15.09px;
font-weight: 700;
}
.c2p2{
color: rgb(240, 170, 0);
font-size: 15.09px;
font-weight: 700;
}
.c3p3{
color: rgb(135, 0, 255);
font-size: 15.09px;
font-weight: 700;
}
.tukibtn1{
justify-content: center;
width: 60px;
height: 60px;
border-radius: 30px;
background: rgb(254, 163, 1);
border: none;
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 900;
margin-right: 10px;
}
.tukibtn2{
    justify-content: center;
width: 60px;
height: 60px;
border-radius: 30px;
background: rgb(254, 163, 1);
border: none;
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 900;
}
.tukibtn1:hover{
    color: orange;
    background-color: skyblue;
}
.tukibtn2:hover{
    color: orange;
    background-color: skyblue;
    
}
.tukibtn{
    width: 130px;
    height: 60px;
    margin-top: 80px;
    margin-left: 46%;
    margin-bottom: 79px;
    display: flex;

}
@media screen and (max-width: 576px){
    .cdiv{
        flex-direction: column;
    }
    .ch{
        margin-top: -70px;
        
       
    }
    .card1, .card2, .card3{
        width: 350px;
        margin-left: 120px;
        margin-bottom: 20px;
    }
    .tukibtn{
        visibility: hidden;
    }
    .c1h{
        font-size: 1rem;
    }
    .c1p, .c1p1, .c2p2, .c3p3{
        font-size: 0.6rem;
    }
}
/*story*/
.sh{
    color: rgb(0, 0, 0);
font-size: 2.8rem;
font-weight: 700;
text-align: center;
margin-top: 60px;
margin-bottom: 80px;

}
.scon{
    display: flex;
    gap: 10px;
   justify-content: space-between;
  
}
.scon2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.scon1s{
    width: 540px;
    height: 630px;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.scon1i{
border-top-left-radius: 16px;
border-top-right-radius: 16px;

}
.sd{
    margin-top: -30px;
}
.sd1{
width: 174.51px;
height: 47.93px;
border-radius: 47.93px;
background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
font-size: 0.9rem;
font-weight: 500;
text-align: center;

margin-left: 38px;
border: none;

}
.ssh{
    
width: 402.49px;
height: 69.98px;
margin-left: 38px;

    color: rgb(0, 0, 0);
font-size: 1.5rem;
font-weight: 700;
line-height: 38.35px;
}
.ssp{
    color: rgb(102, 102, 102);
font-size: 0.9rem;
font-weight: 500;
line-height: 28.76px;
text-align: left;
margin-top: 47px;
width: 433.06px;
height: 75.74px;
margin-left: 38px;
}
.scon2s, .scon2sr{
    width: 290.69px;
    height: 305.61px;
    border-radius: 16px;
    

background: rgb(255, 255, 255);

}
.sd2{
    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;

    background: rgb(149, 178, 38);
color: rgb(255, 255, 255);
font-size: 0.9rem;
font-weight: 500;
text-align: center;


border: none;
}
.sd22{
    margin-top: -30px;
    margin-left: 38px;
}
.ssh1{
    padding-left: 30px;
    padding-right: 38px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.view{
    border-radius: 12px;
background: rgb(17, 17, 17);

width: 197px;
height: 50px;
margin-left: 42%;
margin-top: 80px;
margin-bottom: 60px;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 700;

}

@media screen and (max-width: 576px){
    .sh{
        margin-top: -150px;
    }
    .scon1, marquee{
        display: none;
    }
    .scon2s{
        max-width: 173px;
        max-height: 179px;
       margin-left: -150px;
       font-size: 0.57rem;
       
    }
    .scon2sr{
        max-width: 173px;
        max-height: 179px;
        font-size: 0.57rem;
        margin-right: 20px;
        margin-left: -80px;
    }
    .scon1i{
max-width: 173px;
    }
    .sd2{
        margin-left: -20px;
        width: 103px;
        max-height: 22px;
        font-size: 0.57rem;
        
        margin-top: 15px;
        
    }
    .ssh1{
        margin-top: -10px;
    }
    .view{
        margin-left: 43%;
        width: 134px;
height: 30px;
font-size: 1rem;
margin-top: 15px;
    }
    .sh, .ch{
        font-size: 1.6rem;
    }
    .sh{
        margin-top: -170px;
        
}
.scon2{
    margin-right: 70px;
}
}
footer{
    background: rgb(1, 172, 253);
    width: 100%;
height: 519px;
}
marquee{
    height: 630px;
    line-height: 50px;
    color: tomato;
}
.footm{
    display: flex;
    
    
    
    padding-left: 228px;
    padding-right: 200px;
    padding-top: 123px;
    padding-bottom: 175px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}
.foot1d{
    display: flex;

}
.footh1{
font-size: 2.6rem;
font-weight: 700;
line-height: 39.51px;

}
.footlogo{
    
width: 57.78px;
height: 80px;
margin-top: 35px;
}
.footad{
    font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
}
.footli{
    list-style: none;
    margin-left: -35px;
    padding-top: 20px;
}
.aboh{
    
    font-size: 1.5rem;
    font-weight: 700;
    
}
.footlh{
font-size: 1.6rem;
font-weight: 700;
}
.footi{
    margin-right: 10px;
}
.abou{
    margin-left: 50px;
    margin-right: 50px;
}
@media screen and (max-width: 576px) {
    .footm{
        max-width: 100%;
        
        flex-direction: column;
      margin: 0px;
      padding: 0px;
    }
    .footlogo{
        width: 58px;
        height: 69px;
    }
    .footh1{
        font-size: 2.18rem;
    }
    .footad{
        font-size: 1rem;
        margin-left: 21px;
        margin-top: -10px;
    }
    .aboh, .footul{
       margin-left: -25px;
       margin-top: -10px;
       margin-bottom: -10px;
       
    }
    
    .footlh{
       
        margin-left: 25px;
    }
    .slogo{
        margin-left: 25px;
    }
}
    